<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.djiankang.db.mapper.MedExamPackageMapper">
    <select id="selectPageCount" resultType="java.lang.Long">
        select
        count(*)
        from
        med_exam_package ep
        <where>
            <if test="packageName != null and packageName != ''">
                and ep.package_name like concat('%', #{packageName}, '%')
            </if>
            <if test="packageCode != null and packageCode != ''">
                and ep.package_code = #{packageCode}
            </if>
            <if test="packageType != null">
                and ep.package_type = #{packageType}
            </if>
            <if test="categoryId != null">
                and ep.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and ep.status = #{status}
            </if>
        </where>
    </select>
    <select id="selectPageList" resultType="java.util.Map">
        select
        ep.id,
        ep.package_name as packageName,
        ep.package_code as packageCode,
        ep.original_price as originalPrice,
        ep.current_price as currentPrice,
        ep.sales_volume as salesVolume,
        ep.package_type as packageType,
        pr.rule_name as ruleName,
        (ep.exam_items is not null) as hasDocument,
        ep.status,
        ep.category_id as categoryId
        from
        med_exam_package ep
        left join
        promotion_rule pr
        on
        ep.promotion_id = pr.rule_id
        <where>
            <if test="packageName != null and packageName != ''">
                and ep.package_name like concat('%', #{packageName}, '%')
            </if>
            <if test="packageCode != null and packageCode != ''">
                and ep.package_code = #{packageCode}
            </if>
            <if test="packageType != null">
                and ep.package_type = #{packageType}
            </if>
            <if test="categoryId != null">
                and ep.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and ep.status = #{status}
            </if>
        </where>
        order by ep.id asc
        limit #{startIndex}, #{pageSize}
    </select>
    <select id="selectByMd5Hash" resultType="MedExamPackageEntity">
        SELECT id,
               package_code    AS packageCode,
               package_name    AS packageName,
               description,
               department_exam AS departmentExam,
               lab_exam        AS labExam,
               medical_exam    AS medicalExam,
               other_exam      AS otherExam,
               exam_items      AS examItems,
               cover_image     AS coverImage,
               original_price  AS originalPrice,
               current_price   AS currentPrice,
               sales_volume    AS salesVolume,
               package_type    AS packageType,
               tags,
               category_id     AS categoryId,
               promotion_id    AS promotionId,
               status,
               md5_hash        AS md5Hash,
               update_time     AS updateTime,
               create_time     AS createTime
        FROM med_exam_package
        WHERE md5_hash = #{md5Hash}
        limit 1
    </select>

    <insert id="insert" parameterType="MedExamPackageEntity">
        insert into med_exam_package
        (package_code, package_name, description, department_exam, lab_exam, medical_exam, other_exam, cover_image,
         original_price, current_price, sales_volume, package_type, tags, category_id, promotion_id, status, md5_hash)
        values (#{packageCode}, #{packageName}, #{description}, #{departmentExam}, #{labExam}, #{medicalExam},
                #{otherExam}, #{coverImage}, #{originalPrice}, #{currentPrice}, 0, #{packageType}, #{tags},
                #{categoryId}, #{promotionId}, 0, #{md5Hash})
    </insert>
    <select id="selectById" resultType="Map">
        SELECT
        g.package_code AS packageCode,
        g.package_name AS packageName,
        g.description,
        g.cover_image AS coverImage,
        CAST(g.original_price AS CHAR) AS originalPrice,
        CAST(g.current_price AS CHAR) AS currentPrice,
        r.rule_id AS ruleId,
        r.rule_name AS ruleName,
        g.package_type AS packageType,
        g.tags,
        g.category_id AS categoryId,
        g.department_exam AS departmentExam,
        IFNULL(JSON_LENGTH(g.department_exam), 0) AS count_1,
        g.lab_exam AS labExam,
        IFNULL(JSON_LENGTH(g.lab_exam), 0) AS count_2,
        g.medical_exam AS medicalExam,
        IFNULL(JSON_LENGTH(g.medical_exam), 0) AS count_3,
        g.other_exam AS otherExam,
        IFNULL(JSON_LENGTH(g.other_exam), 0) AS count_4
        FROM
        med_exam_package g
        LEFT JOIN
        promotion_rule r
        ON
        g.promotion_id = r.rule_id
        WHERE
        g.id = #{id}
        <if test="status != null">
            AND status = #{status}
        </if>
    </select>
    <update id="update">
        UPDATE med_exam_package
        SET package_name    = #{packageName},
            package_code    = #{packageCode},
            description     = #{description},
            department_exam = #{departmentExam},
            lab_exam        = #{labExam},
            medical_exam    = #{medicalExam},
            other_exam      = #{otherExam},
            cover_image     = #{coverImage},
            original_price  = #{originalPrice},
            current_price   = #{currentPrice},
            package_type    = #{packageType},
            tags            = #{tags},
            category_id     = #{categoryId},
            promotion_id    = #{promotionId},
            status          = 0,
            md5_hash        = #{md5Hash}
        WHERE id = #{id}
    </update>
    <select id="selectEntityById" resultType="MedExamPackageEntity">
        select * from med_exam_package where id = #{id}
    </select>

    <update id="updateExamItems">
        update med_exam_package
        set exam_items = #{examItems},
            md5_hash=#{md5Hash}
        where id = #{id}
    </update>
    <update id="updateStatus">
        update med_exam_package
        set status = #{status}
        where id = #{id}
    </update>
    <select id="selectImagesByIds" resultType="String">
        select cover_image from med_exam_package where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <delete id="deleteByIds">
        delete from med_exam_package where status= 0 and sales_volume = 0 and id in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTop4ByCategoryId" resultType="Map">
        (select id,
                package_code   as packageCode,
                cover_image    as coverImage,
                package_name   as packageName,
                description,
                current_price  as currentPrice,
                original_price as originalPrice,
                sales_volume   as salesVolume,
                category_id
         from med_exam_package
         where status = 1
           and category_id = #{categoryId1}
         order by sales_volume desc, id desc limit 4)
        union all
        (select id,
                package_code   as packageCode,
                cover_image    as coverImage,
                package_name   as packageName,
                description,
                current_price  as currentPrice,
                original_price as originalPrice,
                sales_volume   as salesVolume,
                category_id
         from med_exam_package
         where status = 1
           and category_id = #{categoryId2}
         order by sales_volume desc, id desc limit 4)
        union all
        (select id,
                package_code   as packageCode,
                cover_image    as coverImage,
                package_name   as packageName,
                description,
                current_price  as currentPrice,
                original_price as originalPrice,
                sales_volume   as salesVolume,
                category_id
         from med_exam_package
         where status = 1
           and category_id = #{categoryId3}
         order by sales_volume desc, id desc limit 4)
    </select>
    <select id="selectPageListForFront" resultType="java.util.Map">
        select id,
        package_code as packageCode,
        package_name as packageName,
        description,
        cover_image as coverImage,
        original_price as originalPrice,
        current_price as currentPrice,
        sales_volume as salesVolume
        from med_exam_package
        where status = 1
        <if test="keyword != null and keyword != ''">
            and ( package_name like concat("%",#{keyword},"%") or
            package_code like concat("%",#{keyword},"%")
            )
        </if>
        <if test="packageType != null and packageType != ''">
            and package_type = #{packageType}
        </if>
        <if test="sex != null and sex != ''">
            and JSON_CONTAINS (tags, CONCAT('"',#{sex},'"'))
        </if>
        <choose>
            <when test="priceType == 1">
                and current_price &gt;= 0 and current_price &lt; 100
            </when>
            <when test="priceType == 2">
                and current_price &gt;= 100 and current_price &lt; 500
            </when>
            <when test="priceType == 3">
                and current_price &gt;= 500 and current_price &lt; 1000
            </when>
            <when test="priceType == 4">
                and current_price &gt;= 1000
            </when>
        </choose>
        <choose>
            <when test="orderType == 1">
                order by id desc
            </when>
            <when test="orderType == 2">
                order by sales_volume desc
            </when>
            <when test="orderType == 3">
                order by current_price asc
            </when>
            <when test="orderType == 4">
                order by current_price desc
            </when>
            <otherwise>
                order by sales_volume desc, id desc
            </otherwise>
        </choose>
        limit #{startIndex}, #{pageSize}
    </select>

    <select id="selectPageCountForFront" resultType="Long">
        select count(*)
        from med_exam_package
        where status = 1
        <if test="keyword != null and keyword != ''">
            and ( package_name like concat("%",#{keyword},"%") or
            package_code like concat("%",#{keyword},"%")
            )
        </if>
        <if test="packageType != null and packageType != ''">
            and package_type = #{packageType}
        </if>
        <if test="sex != null and sex != ''">
            and JSON_CONTAINS (tags, CONCAT('"',#{sex},'"'))
        </if>
        <choose>
            <when test="priceType == 1">
                and current_price &gt;= 0 and current_price &lt; 100
            </when>
            <when test="priceType == 2">
                and current_price &gt;= 100 and current_price &lt; 500
            </when>
            <when test="priceType == 3">
                and current_price &gt;= 500 and current_price &lt; 1000
            </when>
            <when test="priceType == 4">
                and current_price &gt;= 1000
            </when>
        </choose>
    </select>
    <select id="selectPackageWithPromotionForOrder" resultType="java.util.Map">
        select p.package_code                 as packageCode,
               p.package_name                 as packageName,
               p.description,
               p.department_exam              as departmentExam,
               p.lab_exam                     as labExam,
               p.medical_exam                 as medicalExam,
               p.other_exam                   as otherExam,
               p.exam_items                   as examItems,
               p.cover_image                  as coverImage,
               cast(p.original_price as char) as originalPrice, -- 为什么要转换成字符串，防止损失精度
               cast(p.current_price as char)  as currentPrice,
               p.package_type                 as packageType,
               p.tags,
               p.md5_hash                     as md5Hash,
               r.rule_content                 as ruleContent,
               r.rule_name                    as ruleName
        from med_exam_package p
        left join
             promotion_rule r
        on
            p.promotion_id = r.rule_id
        where p.id = #{id}
    </select>
    <update id="updateSalesVolume">
        update med_exam_package
        set sales_volume = sales_volume + #{quantity}
        where id = #{goodsId}
    </update>
</mapper>
