<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.djiankang.db.mapper.TradeOrderMapper">
    <select id="selectOrderStatistics" resultType="Map">
        select sum(total_amount) as totalAmount,
               count(*)          as totalCount,
               sum(quantity)     as totalQuantity
        from trade_order
        where customer_id = #{id}
          and order_status in (3, 5, 6)
    </select>
    <select id="isCustomerReachedDailyLimit" parameterType="Integer" resultType="boolean">
        SELECT (
                   (SELECT COUNT(*)
                    FROM trade_order
                    WHERE customer_id = #{customerId}
                      AND create_date = CURRENT_DATE()
                      AND order_status &lt; 3) &gt;= 10
                       OR
                   (SELECT COUNT(*)
                    FROM trade_order
                    WHERE customer_id = #{customerId}
                      AND refund_date = CURRENT_DATE()
                      AND order_status = 4) &gt;= 5
                   ) AS illegal
    </select>
    <update id="closeOrder">
        update trade_order
        set order_status = 2
        where order_status = 1
          and timestampdiff(MINUTE, create_time, now()) > 20
    </update>
    <insert id="insert">
        insert into trade_order
        (out_trade_no, customer_id, goods_id, goods_title,
         goods_price, goods_image, goods_description, quantity,
         total_amount, order_status, snapshot_id, create_date)
        values (#{outTradeNo}, #{customerId}, #{goodsId}, #{goodsTitle},
                #{goodsPrice}, #{goodsImage}, #{goodsDescription}, #{quantity},
                #{totalAmount}, 1, #{snapshotId}, current_date)
    </insert>
    <update id="closeOrderByOutTradeNo">
        update trade_order
        set order_status = 2
        where order_status = 1
          and out_trade_no = #{outTradeNo}
    </update>
    <update id="updatePayment">
        update trade_order
        set order_status   = #{status},
            transaction_id = #{transactionId}
        where out_trade_no = #{outTradeNo}
          and order_status = 1
    </update>

    <select id="selectByOutTradeNo" resultType="TradeOrderEntity">
        select *
        from trade_order
        where out_trade_no = #{outTradeNo} limit 1
    </select>
    <select id="findCustomerIdByOutTradeNo" resultType="Integer">
        select customer_id
        from trade_order
        where out_trade_no = #{outTradeNo}
    </select>
    <select id="selectPageList" parameterType="Map" resultType="Map">
        SELECT o.order_id as id,
        o.out_trade_no AS outTradeNo,
        o.goods_id AS goodsId,
        o.snapshot_id AS snapshotId,
        o.goods_title AS goodsTitle,
        o.goods_price AS goodsPrice,
        o.quantity,
        o.total_amount AS totalAmount,
        o.goods_image AS goodsImage,
        o.goods_description AS goodsDescription,
        o.`order_status` AS orderStatus,
        IF(o.`order_status` = 1 AND TIMESTAMPDIFF(MINUTE,o.create_time,NOW()) > 20, true, false) AS disabled,
        DATE_FORMAT(o.create_date,"%Y-%m-%d") AS createDate,
        DATE_FORMAT(o.create_time,"%Y-%m-%d %H:%i:%s") AS createTime,
        COUNT(a.order_id) AS appointCount
        FROM trade_order o
        LEFT JOIN med_exam_appointment a ON o.order_id = a.order_id
        WHERE o.customer_id = #{customerId}
        <if test="orderStatus != null and orderStatus != ''">
            AND o.`order_status` = #{orderStatus}
        </if>
        <if test="keyword != null and keyword != ''">
            AND ( o.out_trade_no = #{keyword} OR o.goods_title LIKE CONCAT( "%", #{keyword}, "%" ) )
        </if>
        GROUP BY o.order_id
        ORDER BY o.order_id DESC
        LIMIT #{startIndex}, #{pageSize}
    </select>

    <select id="selectPageCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM trade_order
        WHERE customer_id = #{customerId}
        <if test="orderStatus != null and orderStatus != ''">
            AND `order_status` = #{orderStatus}
        </if>
        <if test="keyword != null and keyword != ''">
            AND ( out_trade_no = #{keyword} OR goods_title LIKE CONCAT( "%", #{keyword}, "%" ) )
        </if>
    </select>
    <select id="findOutRefundNoByOrderId" resultType="java.lang.String">
        select out_refund_no as outRefundNo
        from trade_order
        where order_id = #{orderId}
    </select>
    <select id="findTransactionInfoByOrderIdAndCustomerId" resultType="java.util.Map">
        select transaction_id as transactionId, total_amount as totalAmount
        from trade_order
        where order_id = #{orderId}
          and order_status = 3
          and customer_id = #{customerId}
    </select>
    <update id="updateOutRefundNoByOrderIdAndOutRefundNo">
        update trade_order
        set out_refund_no = #{outRefundNo},
            refund_date   = current_date(),
            refund_time   = now()
        where order_id = #{orderId}
          and order_status = 3
    </update>
    <update id="updateStatusByOutTradeNo">
        update trade_order
        set order_status = 4
        where out_trade_no = #{outTradeNo}
          and order_status = 3
    </update>
</mapper>
